@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Data;
@using System.Data.SqlClient;
@using Event_Management.Areas.Event.Models;
@model DataTable


    <div class="container">
        <main role="main">
        <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('~/event/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                    <div class="col-md-9 ftco-animate pb-5">
                        <h1 class="mb-3 bread">Event Schedule</h1>
                        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Schedule <i class="ion-ios-arrow-forward"></i></span></p>
                    </div>
                </div>
            </div>
        </section>


        <section class="ftco-section bg-light">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-3">
                    <div class="col-md-7 text-center heading-section ftco-animate">
                        <span class="subheading">Schedule</span>
                        <h2 class="mb-4"><span>Event</span> Schedule</h2>
                    </div>
                </div>
                <div class="ftco-search">
                    <div class="row">
                        <div class="col-md-12 nav-link-wrap">
                            <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link ftco-animate active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Day 01 <span>@DateTime.Now</span></a>

                                <a class="nav-link ftco-animate" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Day 02 <span>@DateTime.Now</span></a>

                                <a class="nav-link ftco-animate" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Day 03 <span>23 Dec. 2019</span></a>

                                <a class="nav-link ftco-animate" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">Day 04 <span>24 Dec. 2019</span></a>

                            </div>
                        </div>
                        <div class="col-md-12 tab-wrap">

                            <div class="tab-content" id="v-pills-tabContent">

                                <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
                                    @foreach(DataRow dr in Model.Rows)
                                    {
                                        <div class="speaker-wrap ftco-animate d-flex">
                                            <div class="img speaker-img" style="background-image: url(../event/images/person_1.jpg);"></div>
                                            <div class="text pl-md-5">
                                                <span class="time">@dr["EventDateTime"]</span>
                                                @* <h2><a asp-area="Event" asp-controller="Event" asp-action="EventByID">@dr["EventName"]</a></h2> *@
                                                
                                                <form asp-area="Event" asp-controller="Event" asp-action="EventByID">
                                                    @* <input type="text" name="EventName" value=@dr["EventName"] /> *@
                                                    <input type="hidden" name="EventID" value="@int.Parse(@dr["EventID"].ToString())">
                                                    <button style="background: none; border: none; padding: 0; margin: 0; color: inherit; font: inherit; cursor: pointer; text-decoration-color:black" type="submit"><h2>@dr["EventName"]</h2></button>
                                                </form>
                                                <p>@dr["VenueName"]</p>
                                                
                                            </div>
                                        </div>
                                    }
                                </div>

                                <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
                                    <div class="speaker-wrap ftco-animate d-flex">
                                        <div class="img speaker-img" style="background-image: url(~/event/images/person_1.jpg);"></div>
                                        <div class="text pl-md-5">
                                            <span class="time">08: - 10:00</span>
                                            <h2><a href="#">Introduction to Wordpress 5.0</a></h2>
                                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                                            <h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
                                        </div>
                                    </div>
                                    <div class="speaker-wrap ftco-animate d-flex">
                                        <div class="img speaker-img" style="background-image: url(~/event/images/person_2.jpg);"></div>
                                        <div class="text pl-md-5">
                                            <span class="time">08: - 10:00</span>
                                            <h2><a href="#">Best Practices For Programming WordPress</a></h2>
                                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                                            <h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
                                        </div>
                                    </div>
                                    <div class="speaker-wrap ftco-animate d-flex">
                                        <div class="img speaker-img" style="background-image: url(~/event/images/person_3.jpg);"></div>
                                        <div class="text pl-md-5">
                                            <span class="time">08: - 10:00</span>
                                            <h2><a href="#">Web Performance For Third Party Scripts</a></h2>
                                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                                            <h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
                                    <div class="speaker-wrap ftco-animate d-flex">
                                        <div class="img speaker-img" style="background-image: url(~/event/images/person_1.jpg);"></div>
                                        <div class="text pl-md-5">
                                            <span class="time">08: - 10:00</span>
                                            <h2><a href="#">Introduction to Wordpress 5.0</a></h2>
                                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                                            <h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
                                        </div>
                                    </div>
                                    <div class="speaker-wrap ftco-animate d-flex">
                                        <div class="img speaker-img" style="background-image: url(~/event/images/person_2.jpg);"></div>
                                        <div class="text pl-md-5">
                                            <span class="time">08: - 10:00</span>
                                            <h2><a href="#">Best Practices For Programming WordPress</a></h2>
                                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                                            <h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
                                        </div>
                                    </div>
                                    <div class="speaker-wrap ftco-animate d-flex">
                                        <div class="img speaker-img" style="background-image: url(~/event/images/person_3.jpg);"></div>
                                        <div class="text pl-md-5">
                                            <span class="time">08: - 10:00</span>
                                            <h2><a href="#">Web Performance For Third Party Scripts</a></h2>
                                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                                            <h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-day-4-tab">
                                    <div class="speaker-wrap ftco-animate d-flex">
                                        <div class="img speaker-img" style="background-image: url(~/event/images/person_1.jpg);"></div>
                                        <div class="text pl-md-5">
                                            <span class="time">08: - 10:00</span>
                                            <h2><a href="#">Introduction to Wordpress 5.0</a></h2>
                                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                                            <h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
                                        </div>
                                    </div>
                                    <div class="speaker-wrap ftco-animate d-flex">
                                        <div class="img speaker-img" style="background-image: url(~/event/images/person_2.jpg);"></div>
                                        <div class="text pl-md-5">
                                            <span class="time">08: - 10:00</span>
                                            <h2><a href="#">Best Practices For Programming WordPress</a></h2>
                                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                                            <h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
                                        </div>
                                    </div>
                                    <div class="speaker-wrap ftco-animate d-flex">
                                        <div class="img speaker-img" style="background-image: url(~/event/images/person_3.jpg);"></div>
                                        <div class="text pl-md-5">
                                            <span class="time">08: - 10:00</span>
                                            <h2><a href="#">Web Performance For Third Party Scripts</a></h2>
                                            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                                            <h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section bg-light">
            <div class="container">
                <div class="row justify-content-center mb-5 pb-3">
                    <div class="col-md-7 heading-section ftco-animate text-center">
                        <span class="subheading">Pricing Tables</span>
                        <h2 class="mb-1"><span>Our</span> Ticket Pricing</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ftco-animate">
                        <div class="block-7">
                            <div class="text-center">
                                <h2 class="heading">Personal</h2>
                                <span class="price"><sup>$</sup> <span class="number">85</span></span>
                                <span class="excerpt d-block">per Month</span>

                                <h3 class="heading-2 my-4">Enjoy All The Features</h3>

                                <ul class="pricing-text mb-5">
                                    <li>Conference Seats</li>
                                    <li>Free Wifi</li>
                                    <li>Coffee Breaks</li>
                                    <li>Lunch</li>
                                    <li>Workshops</li>
                                    <li>One Speakers</li>
                                    <li>Papers</li>
                                </ul>

                                <a href="#" class="btn btn-primary d-block px-2 py-3">Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ftco-animate">
                        <div class="block-7">
                            <div class="text-center">
                                <h2 class="heading">Small Team</h2>
                                <span class="price"><sup>$</sup> <span class="number">200</span></span>
                                <span class="excerpt d-block">per Month</span>

                                <h3 class="heading-2 my-4">Enjoy All The Features</h3>

                                <ul class="pricing-text mb-5">
                                    <li>Conference Seats</li>
                                    <li>Free Wifi</li>
                                    <li>Coffee Breaks</li>
                                    <li>Lunch</li>
                                    <li>Workshops</li>
                                    <li>One Speakers</li>
                                    <li>Papers</li>
                                </ul>

                                <a href="#" class="btn btn-primary d-block px-2 py-3">Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 ftco-animate">
                        <div class="block-7">
                            <div class="text-center">
                                <h2 class="heading">Family Pack</h2>
                                <span class="price"><sup>$</sup> <span class="number">499</span></span>
                                <span class="excerpt d-block">per Month</span>

                                <h3 class="heading-2 my-4">Enjoy All The Features</h3>

                                <ul class="pricing-text mb-5">
                                    <li>Conference Seats</li>
                                    <li>Free Wifi</li>
                                    <li>Coffee Breaks</li>
                                    <li>Lunch</li>
                                    <li>Workshops</li>
                                    <li>One Speakers</li>
                                    <li>Papers</li>
                                </ul>

                                <a href="#" class="btn btn-primary d-block px-2 py-3">Buy Ticket</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="ftco-section-parallax">
            <div class="parallax-img d-flex align-items-center">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                            <h2>Subcribe to our Newsletter</h2>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
                            <div class="row d-flex justify-content-center mt-4 mb-4">
                                <div class="col-md-8">
                                    <form action="#" class="subscribe-form">
                                        <div class="form-group d-flex">
                                            <input type="text" class="form-control" placeholder="Enter email address">
                                            <input type="submit" value="Subscribe" class="submit px-3">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            @* <!-- Breadcrumb Section Begin -->
            <section class="breadcrumb-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb-text">
                                <h2>Event Schedule</h2>
                                <div class="bt-option">
                                    <a href="#">Home</a>
                                    <span>Our Schedule</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Breadcrumb Section End -->
            <!-- Schedule Table Section Begin -->
            <section class="schedule-table-section spad">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="schedule-table-tab">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Marketing</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Business</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Technology</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">Experience</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tabs-5" role="tab">Event</a>
                                    </li>
                                </ul><!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                        <div class="schedule-table-content">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>No.</th>
                                                        <th>
                                                            <strong>Event Name</strong>
                                                        </th>
                                                        <th>
                                                            <strong>Event Date/Time</strong>
                                                        </th>
                                                        <th>
                                                            <strong>IsPrivate</strong>
                                                        </th>
                                                        <th>
                                                            <strong>Venue Name</strong>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (DataRow dr in Model.Rows)
                                                    {
                                                        <tr>
                                                            <form asp-area="Event" asp-controller="Event" asp-action="EventByID" asp-route-~="@dr["EventID"]">
                                                            <td>
                                                                    <input type="hidden" name="EventID" value="@int.Parse(@dr["EventID"].ToString())">
                                                                <button type="submit">@dr["EventID"]</button>
                                                            </td>
                                                            </form>

                                                            @* <td class="event-time">
                                                        <a asp-controller="Home" asp-action="EventDetails">
                                                        @dr["EventID"]
                                                        </a>
                                                        </td> 
                                                            <td class="break hover-bg">
                                                                <a asp-controller="Home" asp-action="EventDetails">
                                                                    <h5>@dr["EventName"]</h5>
                                                                </a>
                                                            </td>
                                                            <td class="break hover-bg">
                                                                <a asp-controller="Home" asp-action="EventDetails">
                                                                    <h5>@dr["EventDateTime"]</h5>
                                                                </a>
                                                            </td>
                                                            <td class="break hover-bg">
                                                                <a asp-controller="Home" asp-action="EventDetails">
                                                                    <h5>@dr["IsPrivate"]</h5>
                                                                </a>
                                                            </td>
                                                            <td class="break hover-bg">
                                                                <a asp-controller="Home" asp-action="EventDetails">
                                                                    <h5>@dr["VenueName"]</h5>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> *@
        </main>
    </div>

    <!-- Schedule Table Section End -->
    @* <!-- Newslatter Section Begin -->
    <section class="newslatter-section">
    <div class="container">
    <div class="newslatter-inner set-bg" data-setbg="~/manup/img/newslatter-bg.jpg">
    <div class="ni-text">
    <h3>Subscribe Newsletter</h3>
    <p>Subscribe to our newsletter and don’t miss anything</p>
    </div>
    <form action="#" class="ni-form">
    <input type="text" placeholder="Your email">
    <button type="submit">Subscribe</button>
    </form>
    </div>
    </div>
    </section> *@
    <!-- Newslatter Section End -->
    <!-- Contact Section Begin -->
    @* <section class="contact-section spad">
    <div class="container">
    <div class="row">
    <div class="col-lg-6">
    <div class="section-title">
    <h2>Location</h2>
    <p>Get directions to our event center</p>
    </div>
    <div class="cs-text">
    <div class="ct-address">
    <span>Address:</span>
    <p>01 Pascale Springs Apt. 339, NY City <br />United State</p>
    </div>
    <ul>
    <li>
    <span>Phone:</span>
    (+12)-345-67-8910
    </li>
    <li>
    <span>Email:</span>
    info.colorlib@gmail.com
    </li>
    </ul>
    <div class="ct-links">
    <span>Website:</span>
    <p>https://conference.colorlib.com</p>
    </div>
    </div>
    </div>
    <div class="col-lg-6">
    <div class="cs-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52901.38789495531!2d-118.19465514866786!3d34.03523211493029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2cf71ad83ff9f%3A0x518b28657f4543b7!2sEast%20Los%20Angeles%2C%20CA%2C%20USA!5e0!3m2!1sen!2sbd!4v1579763856144!5m2!1sen!2sbd"
    height="400" style="border:0;" allowfullscreen=""></iframe>
    </div>
    </div>
    </div>
    </div>
    </section>
    <!-- Contact Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer-section">
    <div class="container">
    <div class="partner-logo owl-carousel">
    <a href="#" class="pl-table">
    <div class="pl-tablecell">
    <img src="~/manup/img/partner-logo/logo-1.png" alt="">
    </div>
    </a>
    <a href="#" class="pl-table">
    <div class="pl-tablecell">
    <img src="~/manup/img/partner-logo/logo-2.png" alt="">
    </div>
    </a>
    <a href="#" class="pl-table">
    <div class="pl-tablecell">
    <img src="~/manup/img/partner-logo/logo-3.png" alt="">
    </div>
    </a>
    <a href="#" class="pl-table">
    <div class="pl-tablecell">
    <img src="~/manup/img/partner-logo/logo-4.png" alt="">
    </div>
    </a>
    <a href="#" class="pl-table">
    <div class="pl-tablecell">
    <img src="~/manup/img/partner-logo/logo-5.png" alt="">
    </div>
    </a>
    <a href="#" class="pl-table">
    <div class="pl-tablecell">
    <img src="~/manup/img/partner-logo/logo-6.png" alt="">
    </div>
    </a>
    </div>
    <div class="row">
    <div class="col-lg-12">
    <div class="footer-text">
    <div class="ft-logo">
    <a href="#" class="footer-logo"><img src="~/manup/img/footer-logo.png" alt=""></a>
    </div>
    <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Speakers</a></li>
    <li><a href="#">Schedule</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Contact</a></li>
    </ul>
    <div class="copyright-text">
    <p>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </p>
    </div>
    <div class="ft-social">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-youtube-play"></i></a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </footer> *@
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    @* <script src="~/manup/js/jquery-3.3.1.min.js"></script>
    <script src="~/manup/js/bootstrap.min.js"></script>
    <script src="~/manup/js/jquery.magnific-popup.min.js"></script>
    <script src="~/manup/js/jquery.countdown.min.js"></script>
    <script src="~/manup/js/jquery.slicknav.js"></script>
    <script src="~/manup/js/owl.carousel.min.js"></script>
    <script src="~/manup/js/main.js"></script> *@
