@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using System.Data;
@using System.Data.SqlClient;
@using Event_Management.Areas.Service.Models;
@model DataTable

<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="mb-2 page-title">Service List</h2>
        <div class="row my-4">
            <!-- Small table -->
            <div class="col-md-12">
                <form method="post" asp-area="Service" asp-controller="Service" asp-action="ServiceFilter">
                    <div class="card shadow mb-4">
                        <div class="card-header">
                            <h4 class="card-title">Filter</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-6">
                                        <label for="simpleinput">Service Name</label>
                                        <input type="text" id="simpleinput" class="form-control" placeholder="Service Name" name="ServiceName">
                                    </div>
                                    <div class="form-group mb-6">
                                        <button value="Filter" type="submit" class="btn mb-2 btn-info">Filter</button>
                                    </div>
                                </div> <!-- /.col -->
                               
                            </div>
                        </div>
                    </div> <!-- / .card -->
                </form>
            </div>
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <a asp-area="Service" asp-controller="Service" asp-action="ServiceAdd" class="btn mb-2 btn-info">Add Service</a>
                        <!-- table -->
                        <table class="table datatables" id="dataTable-1">
                            <thead class="justify-content-center">
                                <tr>
                                    <th></th>
                                    <th>#</th>
                                    <th>ServiceName</th>
                                    <th>Created</th>
                                    <th>Modified</th>
                                    <th colspan="2">Action</th>
                                </tr>
                            </thead>
                            <tbody id="sample_2">
                                @foreach (DataRow dr in Model.Rows)
                                {
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input">
                                                <label class="custom-control-label"></label>
                                            </div>
                                        </td>
                                        <td>@dr["ServiceID"]</td>
                                        <td>@dr["ServiceName"]</td>
                                        <td>@dr["Created"]</td>
                                        <td>@dr["Modified"]</td>
                                        <td>
                                            @* <a class="btn mb-2 btn-info" asp-area="Venue" asp-controller="Venue" asp-action="VenueAdd" asp-route-productid="@Convert.ToInt32(dr["VenueID"])">Edit</a> *@
                                            <form method="post" asp-area="Service" asp-controller="Service" asp-action="ServiceAdd">
                                                <input type="hidden" name="ServiceID" value="@int.Parse(@dr["ServiceID"].ToString())">
                                                <button type="submit" class="btn mb-2 btn-info">Edit</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form method="post" asp-area="Service" asp-controller="Service" asp-action="ServiceDelete">
                                                <input type="hidden" name="ServiceID" value="@int.Parse(@dr["ServiceID"].ToString())">
                                                @* <button class="button" type="submit">
                                                    <div class="trash">
                                                        <div class="top">
                                                            <div class="paper"></div>
                                                        </div>
                                                        <div class="box"></div>
                                                        <div class="check">
                                                            <svg viewBox="0 0 8 6">
                                                                <polyline points="1 3.4 2.71428571 5 7 1"></polyline>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                    <span>Delete</span>
                                                </button> *@
                                                <button type="submit" value="Delete" class="btn mb-2 btn-danger">Delete</button>
                                            </form>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            @* <button class="button">
                <div class="trash">
                    <div class="top">
                        <div class="paper"></div>
                    </div>
                    <div class="box"></div>
                    <div class="check">
                        <svg viewBox="0 0 8 6">
                            <polyline points="1 3.4 2.71428571 5 7 1"></polyline>
                        </svg>
                    </div>
                </div>
                <span>Delete Item</span>
            </button> *@
        </div>
    </div>
</div>