@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using System.Data;
@using System.Data.SqlClient;
@using Event_Management.Areas.Event.Models;
@using Event_Management.Areas.Venue.Models;
@model DataTable

<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="mb-2 page-title">Event List</h2>
         <div class="row my-4">
            <!-- Small table -->
            <div class="col-md-12">
                <form method="post" asp-area="Event" asp-controller="Event" asp-action="EventFilter">
                    <div class="card shadow mb-4">
                        <div class="card-header">
                            <h4 class="card-title">Filter</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group mb-6">
                                        <label for="simpleinput">Event Name</label>
                                        <input type="text" id="simpleinput" class="form-control" placeholder="Venue Name" name="EventName">
                                    </div>
                                    
                                    <label for="example-select">Select Venue</label>
                                    <select class="form-control" id="VenueID" name="VenueID">
                                        <option value="">- - -</option>
                                        @foreach (VenueModel VenueName in ViewBag.VenueList)
                                        {
                                            <option value="@VenueName.VenueID">@VenueName.VenueName</option>
                                        }
                                    </select>


                                </div> <!-- /.col -->
                                <div class="col-md-6">
                                    <div class="form-group mb-6">
                                        <label for="simpleinput">Event Date</label>
                                        <input type="text" id="simpleinput" class="form-control" placeholder="Event Date" name="EventDateTime">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mb-3">

                                        <button value="Filter" type="submit" class="btn mb-2 btn-info">Search</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- / .card -->
                </form>
            </div>

            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <a asp-area="Event" asp-controller="Event" asp-action="EventAdd" class="btn mb-2 btn-info">Add Event</a>
                        <!-- table -->
                        <table class="table datatables">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>#</th>
                                    <th>EventName</th>
                                    <th>EventDateTime</th>
                                    <th>IsPrivate</th>
                                    <th>Venue Name</th>
                                    <th>Services</th>
                                    <th>Created</th>
                                    <th>Modified</th>
                                    <th colspan="2">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (DataRow dr in Model.Rows)
                                {
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input">
                                                <label class="custom-control-label"></label>
                                            </div>
                                        </td>
                                        <td>@dr["EventID"]</td>
                                        <td>@dr["EventName"]</td>
                                        <td>@dr["EventDateTime"]</td>
                                        <td>@dr["IsPrivate"]</td>
                                        <td>@dr["VenueName"]</td>
                                        <td>@dr["SelectedService"]</td>
                                        <td>@dr["Created"]</td>
                                        <td>@dr["Modified"]</td>
                                        <td>
                                            <form method="post" asp-area="Event" asp-controller="Event" asp-action="EventAdd">
                                                <input type="hidden" name="EventID" value="@int.Parse(@dr["EventID"].ToString())">
                                                <button type="submit" class="btn mb-2 btn-info">Edit</button>
                                            </form>
                                        </td>
                                        <td>
                                            <form method="post" asp-area="Event" asp-controller="Event" asp-action="EventDelete">
                                                <input type="hidden" name="EventID" value="@int.Parse(@dr["EventID"].ToString())">
                                                <button type="submit" value="Delete" class="btn mb-2 btn-danger">Delete</button>
                                            </form>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>